<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <http create-session="always"
          entry-point-ref="AuthenticationEntryPoint">
        <intercept-url pattern="/auth/fail" access="ROLE_USER" />
        <form-login
                authentication-failure-url="/auth/fail"
                username-parameter="email"
                password-parameter="password"
                login-processing-url="/auth/login"
                default-target-url="/auth/profile"/>
        <logout
                logout-url="/auth/logout"
                logout-success-url="/auth/fail"
                delete-cookies="true"/>

    </http>

    <beans:bean id="AuthenticationEntryPoint" class="com.project.security.AuthenticationEntryPoint"/>
    <beans:bean id="SecurityConfig" class="com.project.security.SecurityConfig"/>
    <beans:bean id="UserDetailsServiceConfig" class="com.project.security.UserDetailsServiceConfig"/>

    <authentication-manager>
        <authentication-provider user-service-ref="UserDetailsServiceConfig">
        </authentication-provider>
    </authentication-manager>

</beans:beans>
