<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <http create-session="always">
        <form-login
                login-page="/login"
                username-parameter="email"
                password-parameter="password"
                login-processing-url="/auth"
                default-target-url="/subscriptions" />
        <logout
                logout-url="/logout"
                logout-success-url="/"
                delete-cookies="true" />
        <remember-me remember-me-parameter="remember" />
    </http>

    <beans:bean id="SecurityConfig" class="com.project.security.SecurityConfig"/>
    <beans:bean id="UserDetailsServiceConfig" class="com.project.security.UserDetailsServiceConfig"/>

    <authentication-manager>
        <authentication-provider user-service-ref="UserDetailsServiceConfig">
        </authentication-provider>
    </authentication-manager>

</beans:beans>
